* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary_color : #EF3838;
    --secondary_color : #000000;
    --tertiary_color : #FAA223;
    --light_grey : #F9F9F9;
    --dark_grey : #3F3F3F;
    --medium_grey : #CECECE;
    --light_color : #fff;

    --primary-font: 'Inter', sans-serif;
    --secondary-font: 'Oswald', sans-serif;
    
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    @media only screen and (max-width: 650px) {
        &.open {
            overflow: hidden;
            .navbar >.nav  {
                display: flex;
                & .fa-times {
                    display: block;
                    position: absolute;
                    top: 40px;
                    right: 30px;
                }
            }
            .fa-bars {
                display: none;
            }
           
            .profil-btn, .logout-btn {
                display: inline-flexbox;
                
                & a {
                    > i {
                    display: none;
                    }
                    > span {
                        display: inline-block;
                    }
                } 
            }
        }
    }
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}
h1,h2,h3,h4{
    font-family: var(--secondary-font);
} 
.img-fluid {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

textarea {
    height: 200px;
}
input {
    height: 45px;
}
input,textarea,#select-animal-gender, #select-animal-specie {
    border: 1px solid rgba(0,0,0,0.2);
    width: 100%;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 10px auto;
    font: 14px var(--primary-font);
    font-weight: 400;

    &:focus, &:hover, &:active {
        outline: 1px inset rgba(0,0,0,0.2);
        box-shadow: 0px 0px 1px 3px rgba(191,191,191,0.5);
    }
}
#select-animal-gender, #select-animal-specie {
    position: relative;
    background-color: var(--light_color);
    .select-button {
        padding: 10px 0px;
    }
}

input[type="file"] {
    display:none;
  }
  
.title-image {
    display: inline-block;
    padding: 20px;
    cursor: pointer;
    width: 100%;
    margin: 10px 0;
    text-align: center;
    background-color: var(--secondary_color);
    font: 16px var(--secondary-font);
    color: #fff;
    &:hover {
        background-color: var(--primary_color);
    }
}
  
.button {
    background-color: var(--tertiary_color);
    color: var(--light_color);
    text-transform: uppercase;
    border: none;
    padding: 10px;
    margin: auto;
    display: block;
    cursor: pointer;
    &:hover {
        background-color: var(--secondary_color);
    }
}

/*****************
        HEADER 
 ***************/

header {
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light_grey);
    box-shadow: 2px 5px 9px 0 rgba(0,0,0,0.2);
    .brand {
        max-width: 100px;
        .logo {
            width: 100%;
        }
        @media only screen and (max-width: 650px) {
            max-width: 70px;
        }
    }
    .navbar {
        .nav {
            > li {
                padding: 5px 10px;
                &.list  {
                    &.logout-btn i {
                        font-size: 20px;
                    }
                    & span {
                        display: none;
                    }
                    &.profil-btn i{
                        color: var(--primary_color);
                        font-size: 25px;
                        &:hover, &:active {
                            color: var(--primary_color);
                        }
                    }
                    & a {
                        font: 16px var(--secondary-font);
                        font-weight: 300;
                        color: var(--secondary_color);
                       
                        &:hover, &:active {
                            color: var(--primary_color);
                        }
                        @media only screen and (max-width: 650px) {
                            font-size: 18px;
                        }
                    }
                    &.dropdown-btn {
                        position: relative;
                        
                        .dropdown-menu {
                            display: none;
                            
                            @media only screen and (min-width: 651px) {
                                position: absolute;
                                display: none;
                                z-index: 100;
                                min-width: 140px;
                                padding: 10px;
                                margin-top: 5px;
                                background-color: #F1F1F1;
                                border-radius: 5px;
                                box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);

                                .dropdown-list {
                                    padding: 5px 5px 0 5px;
                                    > a {
                                        font-size: 14px;
                                    }
                                }
                            }
                            @media only screen and (max-width: 650px) {
                                
                                .dropdown-list {
                                    padding-top: 10px;
                                }
                            }
                        }
                        &:hover {
                            .dropdown-menu {
                                display: block;
                            }
                        }
                    }
                    @media only screen and (min-width: 651px) {
                        display: inline-block;
                    }
                }
            }
        
            @media only screen and (max-width: 650px) {
                display: none;
                position: absolute;
                z-index: 100;
                width: 100%;
                top: 0;
                bottom: 0;
                left:0;
                padding-top: 150px;
                margin: auto 0;
                text-align: center;
                gap: 15px;
                flex-direction: column;
                background-color: var(--light_grey);
            }
        }
        .nav-btn {
            font-size: 35px;
            cursor: pointer;
            .fa-times {
                display: none;
            }
            &:hover {
                color: var(--primary_color);
            }
            @media only screen and (min-width: 651px) {
                display: none;
            }
            
        }
    }
}


/***************************
        LOGIN PAGE 
 *************************/
.login-page {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    .container {
        width: 90%;
        background-color: var(--light_grey);
        box-shadow: 2px 5px 9px 0 rgba(0,0,0,0.2);
        margin: auto;
        padding: 50px;
        min-height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        & h2 {
            font-size: 30px;
            font-weight: 600;
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 25px;
        }
        > form {
            max-width: 355px;
            margin: auto;

           >  button {
                font-family: var(--primary-font);
                font-size: 24px;
                margin-top: 15px;
                width: 100%;
            }
        }
        @media only screen and (min-width: 651px) { 

            max-width: 500px;
        }
    }
}


/***************************
        SPECIES' FILTER
 *****************************/

.filter {
    left: calc(100% - 150px);
    position: relative;
    width: 150px;
    text-align: right;
    margin-top: 15px;
    .select-button {
        background-color: #D9D9D9;
        padding: 10px;
    }
}

.select-button {
    background-color: transparent;
    width: 100%;
    display: flex;
    border: none;
    justify-content: space-between;
    cursor: pointer;
    &:hover, &:active, a:focus {
        outline: none;
    }
}
.select-dropdown {
    position: absolute;
    z-index: 1;
    width: 100%;
    display: none;
    left: 0;
    text-align: left;
    padding: 10px;
    background-color: #EDEDED;
    box-shadow: 0px 7px 5px 2px rgba(0,0,0,0.25);
    > li {
        font: 12px var(--primary-font);
        padding: 5px 10px;
        > label {
            cursor: pointer;
            display: block;
            &:hover {
                color: var(--primary_color);
            }
        }
        > input {
            display: none;
            &:checked + label {
                    color: red;
            }
            
        }
    }
    &.open-options {
        display: block;
    }
}
/******************************
            CARDS 
 ****************************/
.container-card {
    width: 100%;
    flex-wrap: wrap;
    justify-content:space-between;
    .card {
        position: relative;
        justify-content: space-between;
        margin: 15px auto;
        > a {
            color: var(--secondary_color);
            
            .top-content {
                padding: 10px 5px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                > h3 {
                    color: var(--primary_color);
                }
            > i {
                    font-size: 25px;
                }
            }
            .description {
                padding: 10px 5px;
                > p {
                    font: 12px var(--primary-font);
                    font-weight: 300;
                }
            }
        }
        .edit-part {
            > button {
                display: block;
                border: none;
                margin-top: 10px;
                height: 25px;
                width: 25px;
                cursor: pointer;
                &.delete-btn {
                    color: var(--light_color);
                    background-color: var(--primary_color);
                }
                &:hover {
                    color: var(--light_color);
                    background-color: var(--secondary_color);
                }
            }
        }
    }
    
    @media only screen and (max-width: 560px) {
       & .img-container {
            height: 300px;
        }
        
    }
}

/******************************
       DONATION'S PART
 ****************************/
.donation-part {
    padding: 30px 15px;
    max-width: 1024px;
    text-align: center;
    margin: 0 auto;
   p {
        font: 16px var(--primary_color);
    }
}
.btn {
    background-color: var(--primary_color);
    color: var(--light_color);
    font: 17px var(--secondary-font);
    text-transform: uppercase;
    padding: 10px;
    margin: 15px auto;
    border-radius: 5px;
    display: block;
    max-width: 150px;
    &:hover {
        background-color: var(--secondary_color);
    }
}
/***************************
        HOMEPAGE 
 *************************/

.jumbotron {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    & img {
        display: none;
    }
    .container {
        background-color:rgba(249,249,249,0.6);
        margin: auto;
        padding: 30px;
        font-family: var(--secondary-font);
        > .content {
            width: 80%;
            margin: auto;
            > h2 {
                text-align: center;
                font-size: 30px;
                font-weight: 500;
                margin-bottom: 30px;
            }
            > p{
                font-size: 15px;
                margin-bottom: 30px;
            }
            > .button {
                text-align: center;
                font-size: 22px;
                width: 160px;
                font-weight: 300;
            }
        }
    } 

    @media only screen and (min-width: 650px) {

        height: 800px;
        & .container {
            position: absolute;
            width: 80%;
            max-width: 650px;
        }
        & img {
            display: block;
        }
    }
}

.adoptions {
    max-width: 1024px;
    padding: 10vh 15px;
    margin: auto;
    > h1 {
        text-align: center;
        text-transform: uppercase;
    } 
    .edit-part {
        position: absolute;
        right: 10px;
        top: 5px;
    }

    & .container-card  {
        @media only screen and (min-width: 744px) {
            display: flex;
            gap: 3%;
            .card {
                width: 22%;
                .img-container {
                    height: 200px;
                }
            }
        }
    
        @media only screen and (min-width: 561px) and (max-width: 743px){ 
            display: flex;
            gap: 3%;
            .card {
                width: 47%;
                & .img-container {
                    height: 200px;
                }
            }
        }
    }
}

.presentation {
    width: 100%;
    text-align: center;
    background-color: var(--secondary_color);
    padding: 40px 15px 60px 15px;
    > h3 {
        font-size: 35px;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 30px;
        color: var(--primary_color);
    }
}

.missions {
    margin: 10vh auto;
    max-width: 1024px;
    & .container {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 0 4px;
        > .column {
            flex: 50%;
            max-width: 50%;
            padding: 0 4px;
            & .img-container{
                position: relative;
                margin-top: 8px;
                width: 100%; 
                display: flex;
                text-align: center;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                overflow: hidden;
                > .title {
                    position: absolute;
                    font: 18px var(--secondary-font);
                    text-transform: uppercase;
                    padding: 15px 0;
                    background-color: rgba(0,0,0,0.8);
                    color: var(--tertiary_color);
                    width: 50%;
                    max-width: 250px;
                    border-radius: 10px;
                }  
                > .content {
                    position: absolute;
                    z-index: 999;
                    margin-top:200%;
                    font: 16px var(--primary-font);
                    padding: 15px;
                    color: var(--secondary_color);
                    transition: .5s all linear;
                }
                > img {
                    width: 100%;
                }
                   
                &:hover {
                    &:after {
                        position: absolute;
                        z-index: 100;
                        content: '';
                        width: 100%;
                        height: 100%;
                        background-color: rgba(249,249,249,0.6);
                    }
                    > .title {
                        opacity: 0;
                    }
                    > .content {
                        margin-top:0;
                    }
                }
            } 
            @media screen and (max-width: 800px) {  
                flex: 50%;
                max-width: 50%;
            }
            @media screen and (max-width: 600px) {
                flex: 100%;
                max-width: 100%;
            }
        }
        
    }
}


/**********************
    ADOPTIONS PAGE 
 ********************/
.adoptions_page {
    .jumbotron {
        .container {
            max-width: 800px;
            .content {
                & h2 {
                    border: none;
                    font-size: 25px;

                }
                > p {
                    font-family: var(--primary-font);
                    &.center-text{
                        text-align: center;
                    }
                }

                > .button {
                    font-size: 20px;
                    background-color: var(--secondary_color);
                    font-weight: 300;
                    &:hover, &:focus {
                        background-color: var(--tertiary_color);
                    }
                }
            }
        }
    }
} 

.edit-form {
    background-color: var(--light_grey);
    padding: 15px;
    
    > h4 {
        text-align: center;
        font-size: 25px;
        margin: 10px 0;
        text-transform: uppercase;
    }
    > form {            
        max-width: 1024px;
        margin: 30px auto;
        .button {
            margin-top: 20px;
            font: 22px var(--secondary-font);
        }
    }
}
  
.selected-value {
    font: 14px var(--primary-font);
    font-weight: 400;
    color: rgba(0,0,0,0.6);
}
.adoptions {
    & h2 {
        border-bottom: 1px solid var(--secondary_color);
            margin-bottom: 15px;
            text-transform: uppercase;
            font-size: 25px;
            font-weight: 600;
        }
        .container-card {
            margin-bottom: 40px;
        }
    } 


/*****************
    EVENTS PAGE 
 ***************/
.evenements-page {
    > main {
        margin: 10vh 0;
        .container {
            max-width: 90%;
            margin: 30px auto;
            box-shadow: 5px 2px 9px 0 rgba(0,0,0,0.2);

        }
        & .events-title {
            margin: 30px auto;
            display: block;
            padding: 25px 0;
            text-align: center;
            color: var(--light_color);
            background-color: var(--secondary_color);
            font-size: 30px;
            font-weight: 600;
            text-transform: uppercase;
        }
        .container-card {
            padding: 30px;
            .edit-part {
                display: flex;
                justify-content: flex-end;
                margin: 10px 0;
                gap: 15px;
            }
            .title {
                text-align: center;
                color: var(--tertiary_color);
                font-size: 30px;
            }
            .img-container {
                width: 100%;
                height: 400px;
            }
            .description {
                text-align: center;
                p {
                    font: 15px var(--primary-font);
                }
            }
            @media only screen and (min-width: 744px) {
                display: flex;
                gap: 5%;
                .card {
                    width: 45%;
                }
            }
        }
    }
    

}


/*****************
    CONTACT PAGE 
 ***************/
.contact_page {
   > main {
    margin: 50px 0;
    
       > h2 {
            text-transform: uppercase;
            text-align: center;
        }
        .container {
            max-width: 1024px;
            margin: 0 auto;
            & .img-container{
                display: none;
            }
            @media only screen and (min-width: 744px) {
                display: flex;
                justify-content: space-between;
                align-items: stretch;
                margin-top: 30px;
                background-color: var(--light_grey);
                overflow: hidden;
                gap: 3%;
                border: 1px solid rgba(0,0,0,0.2);
                
                > * {
                    width: 47%;
                }
                & > .img-container{
                    display: block;
                }
            } 
            > form {
                padding: 6%;
            > input,textarea,button {
                    display: block;
                    width: 100%;
                }
                > button {
                    font-size: 20px;
                    margin-top: 25px;
                }
            }
        }  
    }
}


/*****************
        FOOTER 
 ***************/

footer {
    margin-top:auto;
    background-color: var(--light_grey);
    box-shadow: 5px 2px 9px 0 rgba(0,0,0,0.2);
    padding: 0px 50px;
    font-family: var(--secondary-font);
    .top-container {
        display: flex;
        justify-content: space-between;
        padding: 30px 0 10px 0;
        & h2{
            font-weight: 500;
            font-size: 24px;
            margin-bottom: 10px;
            &.title {
                color: var(--primary_color);
            }
        }
        & a {
            font-weight: 500;
            color: var(--secondary_color);
            padding: 5px;
            display: block;
            font-size: 14px;
            &:hover, &:active {
                color: var(--primary_color);
            }
        }
        & p {
            margin-bottom: 5px;
            > i {
                margin-right: 5px;
            }
        }
        @media only screen and (max-width: 650px) {
            flex-direction: column;
            justify-content: center;
            text-align: center;
            .menu {
                margin: 10px 0;
                & i {
                    display: none;
                }
            }
        }
    }

    .bottom-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid var(--secondary_color);
        padding: 10px 0;
        .copyright, .year {
            font: 12px var(--primary-font);
        } 
        .year {
            padding-left: 5px;
        }
        .social-icons i {
            color: var(--secondary_color);
            font-size: 20px;
            padding: 0 5px;
        }
    }
}